USE [master]
GO
/****** Object:  Database [hogwarts]    Script Date: 11/01/2021 17:21:32 ******/
CREATE DATABASE [hogwarts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hogwarts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\hogwarts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hogwarts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\hogwarts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hogwarts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hogwarts]
GO
/****** Object:  Table [dbo].[class_rosters]    Script Date: 11/01/2021 17:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class_rosters](
	[class_id] [int] NULL,
	[student_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[classes]    Script Date: 11/01/2021 17:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subject] [varchar](50) NULL,
	[teacher_id] [int] NULL,
 CONSTRAINT [PK__classes__3213E83F008073F7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[houses]    Script Date: 11/01/2021 17:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[houses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK__houses__3213E83FE514B44D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[par_child_rels]    Script Date: 11/01/2021 17:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[par_child_rels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[parent1_id] [int] NULL,
	[parent2_id] [int] NULL,
 CONSTRAINT [PK__par_chil__3213E83FBACA7E90] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parents]    Script Date: 11/01/2021 17:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK__parents__3213E83FB3CC330A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 11/01/2021 17:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[house_id] [int] NULL,
 CONSTRAINT [PK__students__3213E83FFE22E679] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teachers]    Script Date: 11/01/2021 17:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teachers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[house_id] [int] NULL,
 CONSTRAINT [PK__teachers__3213E83FE7540567] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[class_rosters] ([class_id], [student_id]) VALUES (1, 5)
INSERT [dbo].[class_rosters] ([class_id], [student_id]) VALUES (2, 5)
INSERT [dbo].[class_rosters] ([class_id], [student_id]) VALUES (3, 5)
GO
SET IDENTITY_INSERT [dbo].[classes] ON 

INSERT [dbo].[classes] ([id], [subject], [teacher_id]) VALUES (1, N'Potions', 1)
INSERT [dbo].[classes] ([id], [subject], [teacher_id]) VALUES (2, N'Transfiguration', 2)
INSERT [dbo].[classes] ([id], [subject], [teacher_id]) VALUES (3, N'Charms', 3)
SET IDENTITY_INSERT [dbo].[classes] OFF
GO
SET IDENTITY_INSERT [dbo].[houses] ON 

INSERT [dbo].[houses] ([id], [name]) VALUES (1, N'Hufflepuff')
INSERT [dbo].[houses] ([id], [name]) VALUES (2, N'Gryffindor')
INSERT [dbo].[houses] ([id], [name]) VALUES (3, N'Ravenclaw')
SET IDENTITY_INSERT [dbo].[houses] OFF
GO
SET IDENTITY_INSERT [dbo].[par_child_rels] ON 

INSERT [dbo].[par_child_rels] ([id], [student_id], [parent1_id], [parent2_id]) VALUES (1, 1, 35, 63)
INSERT [dbo].[par_child_rels] ([id], [student_id], [parent1_id], [parent2_id]) VALUES (2, 2, 106, 68)
INSERT [dbo].[par_child_rels] ([id], [student_id], [parent1_id], [parent2_id]) VALUES (3, 3, 91, 92)
GO
SET IDENTITY_INSERT [dbo].[par_child_rels] OFF
GO
SET IDENTITY_INSERT [dbo].[parents] ON 

INSERT [dbo].[parents] ([id], [name]) VALUES (1, N'Brendan Sporer')
INSERT [dbo].[parents] ([id], [name]) VALUES (2, N'Devon Brown')
INSERT [dbo].[parents] ([id], [name]) VALUES (3, N'Heaven McKenzie')
GO
SET IDENTITY_INSERT [dbo].[parents] OFF
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [year], [house_id]) VALUES (1, N'Waino Pouros', 7, 2)
INSERT [dbo].[students] ([id], [name], [year], [house_id]) VALUES (2, N'Daren Ortiz', 3, 4)
INSERT [dbo].[students] ([id], [name], [year], [house_id]) VALUES (3, N'Elbert Moore', 6, 2)
GO
SET IDENTITY_INSERT [dbo].[students] OFF
GO
SET IDENTITY_INSERT [dbo].[teachers] ON 

INSERT [dbo].[teachers] ([id], [name], [house_id]) VALUES (1, N'Severus Snape', 4)
INSERT [dbo].[teachers] ([id], [name], [house_id]) VALUES (2, N'Minerva McGonagall', 2)
INSERT [dbo].[teachers] ([id], [name], [house_id]) VALUES (3, N'Filius Flitwick', 3)
SET IDENTITY_INSERT [dbo].[teachers] OFF
GO
ALTER TABLE [dbo].[class_rosters]  WITH CHECK ADD  CONSTRAINT [FK__class_ros__class__34C8D9D1] FOREIGN KEY([class_id])
REFERENCES [dbo].[classes] ([id])
GO
ALTER TABLE [dbo].[class_rosters] CHECK CONSTRAINT [FK__class_ros__class__34C8D9D1]
GO
ALTER TABLE [dbo].[class_rosters]  WITH CHECK ADD  CONSTRAINT [FK__class_ros__stude__35BCFE0A] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[class_rosters] CHECK CONSTRAINT [FK__class_ros__stude__35BCFE0A]
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD  CONSTRAINT [FK__classes__teacher__2E1BDC42] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[teachers] ([id])
GO
ALTER TABLE [dbo].[classes] CHECK CONSTRAINT [FK__classes__teacher__2E1BDC42]
GO
ALTER TABLE [dbo].[par_child_rels]  WITH CHECK ADD  CONSTRAINT [FK__par_child__paren__31EC6D26] FOREIGN KEY([parent1_id])
REFERENCES [dbo].[parents] ([id])
GO
ALTER TABLE [dbo].[par_child_rels] CHECK CONSTRAINT [FK__par_child__paren__31EC6D26]
GO
ALTER TABLE [dbo].[par_child_rels]  WITH CHECK ADD  CONSTRAINT [FK__par_child__paren__32E0915F] FOREIGN KEY([parent2_id])
REFERENCES [dbo].[parents] ([id])
GO
ALTER TABLE [dbo].[par_child_rels] CHECK CONSTRAINT [FK__par_child__paren__32E0915F]
GO
ALTER TABLE [dbo].[par_child_rels]  WITH CHECK ADD  CONSTRAINT [FK__par_child__stude__30F848ED] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[par_child_rels] CHECK CONSTRAINT [FK__par_child__stude__30F848ED]
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD  CONSTRAINT [FK__students__house___286302EC] FOREIGN KEY([house_id])
REFERENCES [dbo].[houses] ([id])
GO
ALTER TABLE [dbo].[students] CHECK CONSTRAINT [FK__students__house___286302EC]
GO
ALTER TABLE [dbo].[teachers]  WITH CHECK ADD  CONSTRAINT [FK__teachers__house___2B3F6F97] FOREIGN KEY([house_id])
REFERENCES [dbo].[houses] ([id])
GO
ALTER TABLE [dbo].[teachers] CHECK CONSTRAINT [FK__teachers__house___2B3F6F97]
GO
USE [master]
GO
